.svg-wrap
	svg(
		version='1.1',
		id='svgLines',
		xmlns='http://www.w3.org/2000/svg',
		xmlns:xlink='http://www.w3.org/1999/xlink',
		x='0px', y='0px',
		viewbox='0 0 1920 850',
		style='enable-background:new 0 0 1920 850;',
		xml:space='preserve')
		g#LineGroup1
			line.svg-line.svg-line-1(x1='570' y1='173' x2='1251' y2='173')
			rect.svg-rect.svg-rect-1(x='1251', y='120', width='274', height='295')
		g#LineGroup2
			line.svg-line.svg-line-2(x1='490' y1='247' x2='1251' y2='247')
			rect.svg-rect.svg-rect-2(x='1251', y='120', width='274', height='295')
		g#LineGroup3
			line.svg-line.svg-line-3(x1='490' y1='320' x2='1251' y2='320')
			rect.svg-rect.svg-rect-3(x='1251', y='120', width='274', height='295')
		g#LineGroup4
			line.svg-line.svg-line-4(x1='665' y1='395' x2='1251' y2='395')
			rect.svg-rect.svg-rect-4(x='1267', y='103', width='291', height='295')
		g#LineGroup5
			line.svg-line.svg-line-5(x1='605' y1='475' x2='1251' y2='475')
			rect.svg-rect.svg-rect-5(x='1267', y='103', width='291', height='295')
		g#LineGroup6
			line.svg-line.svg-line-6(x1='530' y1='550' x2='1251' y2='550')
			rect.svg-rect.svg-rect-6(x='1267', y='103', width='291', height='295')
		g#LineGroup7
			line.svg-line.svg-line-7(x1='620' y1='645' x2='1251' y2='645')
			rect.svg-rect.svg-rect-7(x='1267', y='103', width='291', height='295')
		g#LineGroup8
			line.svg-line.svg-line-8(x1='610' y1='720' x2='1251' y2='720')
			rect.svg-rect.svg-rect-8(x='1267', y='103', width='291', height='295')
