//.svg-line
//	svg(version='1.1',
//	id='Шар_1',
//	xmlns='http://www.w3.org/2000/svg',
//	xmlns:xlink='http://www.w3.org/1999/xlink',
//	x='0px',
//	y='0px',
//	width='1250px',
//	height='1300px',
//	viewbox='0 0 132 1225.666',
//	enable-background='new 0 0 132 1085.666',
//	xml:space='preserve')
//		path(fill='none',
//		stroke='#ffffff',
//		stroke-linecap='round',
//		stroke-linejoin='round',
//		stroke-miterlimit='10',
//		d='M120.895,0 L2.517,68.182v1157.484',
//		style='stroke-dasharray: 1294.09px; stroke-dashoffset: 857px;')

//.svg-line
//	svg(height='210' width='500')
//		line(x1='1400' y1='100' x2='200' y2='200' style='stroke:rgb(255,255,255);stroke-width:1')
//		| Sorry, your browser does not support inline SVG.

svg.svg-line(
	version='1.1',
	id='Line1',
	xmlns='http://www.w3.org/2000/svg',
	xmlns:xlink='http://www.w3.org/1999/xlink',
	x='0px', y='0px',
	viewbox='0 0 1920 850',
	style='enable-background:new 0 0 1920 850;',
	xml:space='preserve')
	g
		line.line(x1='570' y1='163' x2='1267' y2='163')
		rect.rect(x='1267', y='103', width='291', height='295')

//svg.svg-line(
//		version='1.1',
//		id='Line2',
//		xmlns='http://www.w3.org/2000/svg',
//		xmlns:xlink='http://www.w3.org/1999/xlink',
//		x='0px', y='0px',
//		viewbox='0 0 1920 850',
//		style='enable-background:new 0 0 1920 850;',
//		xml:space='preserve')
//		g
//			line.line(x1='460' y1='235' x2='1267' y2='235')
//			rect.rect(x='1267', y='103', width='291', height='295')
//
//svg.svg-line(
//	version='1.1',
//	id='Line3',
//	xmlns='http://www.w3.org/2000/svg',
//	xmlns:xlink='http://www.w3.org/1999/xlink',
//	x='0px', y='0px',
//	viewbox='0 0 1920 850',
//	style='enable-background:new 0 0 1920 850;',
//	xml:space='preserve')
//	g
//		line.line(x1='460' y1='315' x2='1267' y2='315')
//		rect.rect(x='1267', y='103', width='291', height='295')
//
//svg.svg-line(
//	version='1.1',
//	id='Line4',
//	xmlns='http://www.w3.org/2000/svg',
//	xmlns:xlink='http://www.w3.org/1999/xlink',
//	x='0px', y='0px',
//	viewbox='0 0 1920 850',
//	style='enable-background:new 0 0 1920 850;',
//	xml:space='preserve')
//	g
//		line.line(x1='645' y1='395' x2='1267' y2='395')
//		rect.rect(x='1267', y='103', width='291', height='295')
//
//svg.svg-line(
//	version='1.1',
//	id='Line5',
//	xmlns='http://www.w3.org/2000/svg',
//	xmlns:xlink='http://www.w3.org/1999/xlink',
//	x='0px', y='0px',
//	viewbox='0 0 1920 850',
//	style='enable-background:new 0 0 1920 850;',
//	xml:space='preserve')
//	g
//		line.line(x1='585' y1='475' x2='1267' y2='475')
//		rect.rect(x='1267', y='103', width='291', height='295')
//
//svg.svg-line(
//	version='1.1',
//	id='Line6',
//	xmlns='http://www.w3.org/2000/svg',
//	xmlns:xlink='http://www.w3.org/1999/xlink',
//	x='0px', y='0px',
//	viewbox='0 0 1920 850',
//	style='enable-background:new 0 0 1920 850;',
//	xml:space='preserve')
//	g
//		line.line(x1='530' y1='560' x2='1267' y2='560')
//		rect.rect(x='1267', y='103', width='291', height='295')
//
//svg.svg-line(
//	version='1.1',
//	id='Line7',
//	xmlns='http://www.w3.org/2000/svg',
//	xmlns:xlink='http://www.w3.org/1999/xlink',
//	x='0px', y='0px',
//	viewbox='0 0 1920 850',
//	style='enable-background:new 0 0 1920 850;',
//	xml:space='preserve')
//	g
//		line.line(x1='600' y1='655' x2='1267' y2='655')
//		rect.rect(x='1267', y='103', width='291', height='295')
//
//svg.svg-line.svg-line-8(
//	version='1.1',
//	id='Line8',
//	xmlns='http://www.w3.org/2000/svg',
//	xmlns:xlink='http://www.w3.org/1999/xlink',
//	x='0px', y='0px',
//	viewbox='0 0 1920 850',
//	style='enable-background:new 0 0 1920 850;',
//	xml:space='preserve')
//	g
//		line.line(x1='580' y1='735' x2='1267' y2='735')
//		rect.rect(x='1267', y='103', width='291', height='295')